<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbHzQ8zwfuPbeisWO9rkr9I-j25YdC-Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>654089186000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ioshome.IOSToDoList</string>
	<key>PROJECT_ID</key>
	<string>myfirebase24-27979</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebase24-27979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654089186000:ios:6743af81f4b4236469ccd5</string>
</dict>
</plist>